game * {
    position: absolute;
    display: block;
    margin: 0; padding: 0;
}

ball {
    background-image: url("../images/basketball.png");
    width: 100px; height: 100px;
}
cat {
    background-image: url("../images/neon_cat.png");
    width: 592px; height: 139px;
}
car {
    background-image: url("../images/car.png");
    width: 145px; height: 45px;
}